%h1 Listing content_areas

%table
  %tr
    %th Name
    %th Content
    %th Sort order
    %th
    %th
    %th

  - @content_areas.each do |content_area|
    %tr
      %td= content_area.name
      %td= content_area.content
      %td= content_area.sort_order
      %td= link_to 'Show', content_area
      %td= link_to 'Edit', edit_content_area_path(content_area)
      %td= link_to 'Destroy', content_area, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Content area', new_content_area_path
