%p#notice= notice

%p
  %b Name:
  = @content_area.name
%p
  %b Content:
  = @content_area.content
%p
  %b Sort order:
  = @content_area.sort_order

= link_to 'Edit', edit_content_area_path(@content_area)
\|
= link_to 'Back', content_areas_path
