%p#notice= notice

%p
  %b Name:
  = @page.name
%p
  %b Slug:
  = @page.slug
%p
  %b Sort order:
  = @page.sort_order

%p
  %b content-areas:	
    - for content_area in @page.content_areas do
      %p= content_area.name